@model IEnumerable<TimeCheckApp.Models.WorkingHours>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center;">Working Hourses</h1>

<br />

<div>
    <div style="display:inline-block; margin-right:10px;">
        <h5>Absences</h5>
    </div>
    <div style="display:inline-block;">
        <a asp-action="Create" asp-controller="Absences" class="btn btn-outline-primary"><i class="far fa-plus-square"></i> Add Absence</a>
    </div>
    <div style="display:inline-block;">
        <a asp-action="Index" asp-controller="Absences" class="btn btn-outline-primary"><i class="far fa-plus-square"></i> View Absences</a>
    </div>
</div>
<hr />

<form asp-action="Search" method="get">

    <div class="form-actions no-color" style="display:inline-block; margin-right:20px;">

        <p class="control-label">Person Name</p>
        <input type="text" name="searchString" value="@ViewData["Search"]" />
    </div>
    <div style="display:inline-block; margin-right:20px;">

        <p class="control-label">Date</p>
        <input type="date" id="datePicker" name="bday"
               min="2018-01-01">
    </div>
    <div style="display:inline-block; margin-right:20px;">
        <p class="control-label">Booking Type</p>
        <select name="sortType" class="form-control" asp-items="ViewBag.BookingType">
            <option selected="selected" value="sortType">Please select</option>
        </select>
    </div>

    <br />
    <br />

    <div>
        <div style="display:inline-block; margin-right:20px;">
            <div style="display:inline-block;">
                <h5 style="font-size:15px;">Person Hours View</h5>
            </div>
            <div style="display:inline-block;">
                <input id="personH"
                       name="personH"
                       type="checkbox"
                       value="true" />
            </div>
        </div>
        <div style="display:inline-block; margin-right:20px;">
            <div style="display:inline-block;">
                <h5 style="font-size:15px;">Month Sum View</h5>
            </div>

            <div style="display:inline-block;">
                <input id="sumH"
                       name="sumH"
                       type="checkbox"
                       value="true" />
            </div>
        </div>
        <div style="display:inline-block; margin-right:20px;">
            <div style="display:inline-block;">
                <h5 style="font-size:15px;">Week Sum View</h5>
            </div>

            <div style="display:inline-block;">
                <input id="sumWH"
                       name="sumWH"
                       type="checkbox"
                       value="true" />
            </div>
        </div>
        <div style="display:inline-block;">
            <div style="display:inline-block;">
                <h5 style="font-size:15px;">Change Type of Task</h5>
            </div>

            <div style="display:inline-block;">
                <input id="taskH"
                       name="taskH"
                       type="checkbox"
                       value="true" />
            </div>
        </div>
    </div>

    <br />

    <input type="submit" value="Search" id="datebtn" class="btn btn-outline-primary">

</form>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tasks.TaskName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            </td>
        </tr>
        }
    </tbody>
</table>



