@model IEnumerable<TimeCheckApp.Models.Absences>

@{
    ViewData["Title"] = "Index";
}

<br />

<h1 style="text-align:center;">Absences</h1>
<hr />
<br />
<p>
    <a asp-action="Create" asp-controller="Absences" class="btn btn-outline-primary"><i class="far fa-plus-square"></i> Create New Absence</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsenceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.week)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsenceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.week)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
